/* --- Transitions for Smooth Minimize / Expand --- */
.wa-js-target-minimizer {
    transition: width 0.25s cubic-bezier(0.4, 0, 0.2, 1),
        flex-basis 0.25s cubic-bezier(0.4, 0, 0.2, 1),
        min-width 0.25s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

/* --- Hide Native Sidebar Panel when Minimized --- */
.wa-chat-minimized .wa-js-target-minimizer {
    border-inline-start-width: 0 !important;
    width: 0 !important;
    min-width: 0 !important;
    flex: 0 0 0 !important;
    overflow: hidden !important;
}


#wa-sidebar-toggle-btn {
    background: transparent !important;
}

#wa-sidebar-toggle-btn:hover {
    background: linear-gradient(rgba(194, 189, 184, 0.1), rgba(194, 189, 184, 0.1)) rgba(194, 189, 184, 0.15) !important;
}

.dark #wa-sidebar-toggle-btn:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)) rgba(255, 255, 255, 0.1) !important;
}

#wa-sidebar-toggle-btn:active {
    transform: scale(0.85) !important;
    opacity: 0.6 !important;
}